<section class="hero is-fullheight is-dark ">
	<div class="columns">
		<div id="" class="column p-6">		
			<div id="heading" class="container is-size-4 has-text-centered has-text-weight-bold p-2 m-6">
				Crime Reporting Aplication
			</div>
			
			<div id="mydiv" class="container"></div>
			
			
		</div>
		<div id="intro-text" class="column is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
			<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center p-4"> 
	
				<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
					<p style="width: 300px;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
						when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
						
					</p>  
					<div class="animate__animated animate__bounce text-right">					
						<a class="button is-rounded btn-banner m-4" href="/report"> See report</a> 
					</div> 
	
				</div>
			</div>
		</div>

	</div>
</section>
