<section class="hero is-fullheight">
	
	<div class="form container is-flex is-flex-direction-row is-flex-wrap-wrap">
		<div id="form-container" class="container is-flex is-flex-direction-column is-justify-content-center">		
			<div class="container is-size-4 is-flex is-align-content-center is-justify-content-center">
				Crime Reporting Aplication
			</div>
			
			<div id="mydiv" class="container"></div>
			
			
		</div>
		<div id="intro-text" class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
			<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center p-4"> 

				<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
					<p style="width: 300px;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
						when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
						
					</p>  
					<div class="animate__animated animate__bounce text-right">					
						<a class="button is-rounded btn-banner m-4" href="/report"> See report</a> 
					</div> 

				</div>
			</div>
		</div>
	</div>

	<script
		src="https://maps.googleapis.com/maps/api/js?key={}=places">
	</script>

	<script async src='{{ site.baseurl }}/assets/js/form-b.js'></script>
</section>