body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

body {
    color: #00c3ff;
    font-size: 1em;
    background-color: #ffffff;
}

.btn-banner {
    padding: 1.4rem;
    width: 10rem;
    background-color: transparent;
    color: #ff6101;
    border: 2px solid #ff6101;
}

.form{
    min-width: 100vw;
    /* min-height: 100vh; */
}

#form{
    /* width: 400px;  */
    border: #00d9ff solid 1px;
    border-radius: 10px;
}

.my-input{
    background-color: transparent !important;
}

select{
    /* width: 60vw; */
}

.suggestion-item{
    color: #141414 !important;
}

.suggestion-item--active{
    color: #2f00ff !important;
}

.display-none{
    display: none;
}

.notification {
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 2;
}

#intro-text{
    /* width: 50%; */
    background-color: rgba(49, 48, 48, 0.822);
    min-height: 100vh;
}

#form-container{
  
    min-height: 100vh;
    background-color: #646464;
   
    
}

#mydiv{
    max-width: 450px;
}

 /* */ 


.graph{
    margin: 10px;
    width: 450px;
    border: #0084ff solid 1px;
    border-radius: 10px;
}





/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

.scale-up-center {
	-webkit-animation: scale-up-center 2s ease-in-out 0.5s both;
	        animation: scale-up-center 2s ease-in-out 0.5s both;
}

@media only screen and (max-width: 500px) {
    .graph {
      width: 250px;
    }
  }